<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TalentBridge</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav>
    <h2>TalentBridge</h2>

    <div>

        <a href="/">Home</a>

        <a href="/login">
            Student Login
        </a>

        <a href="/company_login">
            Company Login
        </a>

        <a href="/admin_login">
            Admin Panel
        </a>

    </div>

</nav>

    <section class="hero">
        <h1>Bridging Students and Recruiters</h1>
        <p>Find opportunities, showcase skills, and build your career.</p>

       <div class="buttons">

    <a href="/register" class="btn">
        Student Register
    </a>

    <a href="/company_register" class="btn-outline">
        Company Register
    </a>

</div>
    </section>

</body>
</html>